
<div class="button-row">
  <div style="text-align:center">    
    <a class="btn btn-lg btn-primary" role="button" md-raised-button routerLink="chiva/index-chiva">Chiva</a>
    <a class="btn btn-lg btn-primary" role="button" md-raised-button routerLink="pasajero/index-pasajero">Pasajero</a>
    <a class="btn btn-lg btn-primary" role="button" md-raised-button routerLink="viaje/index-viaje">Viaje</a>
    <a class="btn btn-lg btn-primary" role="button" md-raised-button routerLink="tiquete/index-tiquete">Tiquete</a>
  </div>
</div>
