

<!--<md-grid-list cols="2">
    <md-grid-tile><app-crear></app-crear></md-grid-tile> 
    <md-grid-tile><app-listar></app-listar></md-grid-tile>  
    
</md-grid-list>-->

<main role="main">
        <br>
        <br>
        <br>
                  <div class="container marketing">
                    <div class="row">
                      <div class="col-lg-6">
                        <img class="rounded-circle" src="/assets/images/8.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h2>Crear Tiquete</h2>
                        <p>En esta parte puedes crear el tiquete para viajar en la chiva</p>
                        <app-crear></app-crear>
                      </div>
                      <div class="col-lg-6">
                            <img class="rounded-circle" src="/assets/images/10.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Listar Tiquetes</h2>
                            <p>En esta parte puedes ver todos los tiquetes creados previamente</p>
                            <app-listar></app-listar>
                      </div>                      
                  </div>
            
                    <hr class="featurette-divider">
                      <div class="row featurette">
                        <div class="col-md-7">
                          <h2 class="featurette-heading">Viaje seguro y tranquilo <span class="featurette-heading">Chivas el Cojo!</span></h2>
                          <p class="lead">Viaje comódamente por los sitios turísticos del eje cafetero y conozca esta espectacular región</p>
                        </div>
                        <div class="col-md-5">
                          <img class="featurette-image img-fluid mx-auto" src="/assets/images/11.gif" width="240" height="240">
                        </div>
                      </div>            
                    <hr class="featurette-divider">  
                  </div>
        
                  <footer class="container">
                      <button type="button" class="btn-outline-b">&copy;Andrés Aristizabal-Mauro Mosquera - Universidad de Manizales 2017</button>
                  </footer>
        </main>