<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <app-menu></app-menu>  

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <a class="btn btn-outline-primary my-2 my-sm-0" href="http://localhost:4200/">Inicio</a>
        
      </form>
    </div>

  </nav>
</header>

<div>
  <div class="conten">
    <div style="text-align:center">
    <app-opcion-actual></app-opcion-actual>
    <video src="/assets/video/1.mp4" autoplay loop muted></video>
  </div>
  </div>
</div>

