
  <main role="main">
    <br>
    <br>
    <br>
              <div class="container marketing">
                <div class="row">
                  <div class="col-lg-6">
                    <img class="rounded-circle" src="/assets/images/1.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Crear Chiva</h2>
                    <p>En esta parte puedes crear las chivas de la compañia</p>
                    <app-crear-chiva></app-crear-chiva>
                  </div>
                  <div class="col-lg-6">
                    <img class="rounded-circle" src="/assets/images/2.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Listar Chivas</h2>
                    <p>En esta parte puedes ver todas las chivas creadas previamente</p>
                    <app-listar-chiva></app-listar-chiva>
                  </div>
              </div>
        
      
        
                <hr class="featurette-divider">
                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 class="featurette-heading">Viaje seguro y tranquilo <span class="featurette-heading">Chivas el Cojo!</span></h2>
                      <p class="lead">Viaje comódamente por los sitios turísticos del eje cafetero y conozca esta espectacular región</p>
                    </div>
                    <div class="col-md-5">
                      <img class="featurette-image img-fluid mx-auto" src="/assets/images/3.jpg" width="240" height="240">
                    </div>
                  </div>            
                <hr class="featurette-divider">
        
              </div>
    
              <footer class="container">
                <button type="button" class="btn-outline-b">&copy;Andrés Aristizabal-Mauro Mosquera - Universidad de Manizales 2017</button>
              </footer>
    </main>